# Exploring Data

Now it's your turn to filter some data!  For this we'll be using the the green taxi cab dataset.  Let's start by understanding how "dirty" the data is.

The way we'll do this is by checking to see if the data matches semantically with what we'd expect.

We'll make use of this dataset:

In [8]:
import pandas as pd

green = pd.read_csv("green_tripdata_2015-09.csv")

In [3]:
green.columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
       'Tip_amount', 'Tolls_amount', 'Ehail_fee', 'improvement_surcharge',
       'Total_amount', 'Payment_type', 'Trip_type '],
      dtype='object')

Using the `green` dataframe, determine if `Trip_distance` has any odd values.  

Exercise - print out the maximum values of `Trip_distance` using the pandas syntax

In [4]:
# solution goes here
green["Trip_distance"].describe()

count    1.494926e+06
mean     2.968141e+00
std      3.076621e+00
min      0.000000e+00
25%      1.100000e+00
50%      1.980000e+00
75%      3.740000e+00
max      6.031000e+02
Name: Trip_distance, dtype: float64

Exercise - filter the `green` dataframe to only values where the `Trip_distance` is zero and save it to a no dataframe called `no_distance`

In [9]:
# solution goes here
no_distance = green[green["Trip_distance"] == 0]

In [10]:
no_distance.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2015-09-01 00:02:34,2015-09-01 00:02:38,N,5,-73.979485,40.684956,-73.979431,40.685020,1,...,7.8,0.0,0.0,1.95,0.0,NaN,0.0,9.75,1,2.0
1,2,2015-09-01 00:04:20,2015-09-01 00:04:24,N,5,-74.010796,40.912216,-74.010780,40.912212,1,...,45.0,0.0,0.0,0.00,0.0,NaN,0.0,45.00,1,2.0
28,2,2015-09-01 00:06:37,2015-09-01 00:09:37,N,1,-73.948479,40.813862,-73.941071,40.818840,1,...,3.5,0.5,0.5,0.00,0.0,NaN,0.3,4.80,2,1.0
31,2,2015-09-01 00:07:12,2015-09-01 00:07:27,N,2,-73.844269,40.755165,-73.844650,40.755058,1,...,52.0,0.0,0.5,0.00,0.0,NaN,0.3,52.80,2,1.0
44,2,2015-09-01 00:12:26,2015-09-01 00:12:34,N,5,-73.873322,40.840176,-73.873306,40.840187,1,...,9.0,0.0,0.0,0.00,0.0,NaN,0.0,9.00,1,2.0